svl_project/datasets/__pycache__/
svl_project/engines/__pycache__/
svl_project/models/__pycache__/
svl_project/__pycache__/
__pycache__/
exp
exp*/
gradcam_output*/
*.pyc

*.pth
*.pt

data
data*
data/
exp_2022_1_24_multi
exp_2022_1_29_baseline
exp_baseline_reg_2022_1_31
exp_baseline_tuning
exp_baseline
exp_multi
exp_pose
exp_baseline_tuning_2_6/
exp_baseline_tuning_2_10/
exp_baseline_tuning_2_9_12_47/
exp_baseline_tuning_2_9_lr_0.0001/
exp_baseline_tuning_2_13/
exp_baseline_tuning_2_14/
exp_base
exp*/
exp/*
logs/*
.vscode/*
data/
data/*


svl_project/datasets/__pycache__/*
svl_project/engines/__pycache__/*
svl_project/models/__pycache__/*
svl_project/__pycache__/*

*.pth
*.pt

last.ckpt
test_data.hdf5

*.csv
gradcam_output
figures
build
